.login {
  height: 100%;
  padding-top: 30px;
}

.content {
  height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contentBottom {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: -40px;
    border-bottom: 1px solid rgba(165, 164, 164, 0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
}


@media (min-width: 768px) {

  .login {
    height: 100%;
    padding-top: 0;
    background: url('../../assets/images/Login_page_bg.png') no-repeat right center;
    background-size: 40% 100% ;
  }

  .content {
    min-height: 100vh;
    padding: 10px 5% 0;
    width: 60%;
    box-sizing: border-box;
    text-align: left;
  }

  .contentBottom {

    &::before {
      width: 125%;
      z-index: -1;
      margin-left: -10%;
    }
  }
}


@media (min-width: 1200px) {
  .login {
    height: 100%;
    background-size: 40% 100% ;
  }

  .content {
    padding: 90px 10% 0;
  }

  .contentBottom {

    &::before {
      width: 200%;
      z-index: -1;
      margin-left: -30%;
    }
}
}
