@import '../../../styles/variables.scss';
.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    list-style: none;
  }
}

.calendar-nav__prev-btn,
.calendar-nav__next-btn {
  width: 10px;
  height: 17px;
  position: absolute;
  top: 4px;
  border: none;
  background: center center no-repeat;
  cursor: pointer;
}

.calendar-nav__prev-btn {
  background-image: url('../../../assets/images/arrow-left.png');
  left: 0;
}

.calendar-nav__next-btn {
  background-image: url('../../../assets/images/arrow-right.png');
  right: 0;
}

.calendar-nav__label {
  width: 250px;
  position: relative;
  text-align: center;
  span {
    text-transform: uppercase;
    font-size: 20px;
  }
}

.calendar-nav__text {
  color: $main-text-color;
  font-weight: 500;
}

.calendar-nav__digit {
  color: $light-text-color;
  padding-left: 10px;
}

.calendar-nav--week {
  .calendar-nav__label {
    width: 350px;
    span {
      font-size: 18px;
    }
  }
  .calendar-nav__next-btn,
  .calendar-nav__prev-btn {
    top: 2px
  }
}

.calendar-nav__dash {
  font-size: 30px;
  padding: 0 10px;
}

.calendar-nav__views-btn {
  display: inline-block;
  width: 102px;
  height: 45px;
  padding: 12px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: $light-text-color;
  background-color: #fff;
  border: none;
  border-top: $view-bth-border;
  border-bottom: $view-bth-border;
  outline: none;
  cursor: pointer;
  &:first-child {
    border-left: $view-bth-border;
    border-radius: 5px 0 0 5px;
  }
  &:last-child {
    border-right: $view-bth-border;
    border-radius: 0 5px 5px 0;
  }
}