@import "./variables.scss";
body, html {
  min-height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

#root {
  min-height: 100vh;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.page-content {
  min-height: calc(100vh - 65px);
  box-sizing: border-box;
  margin-left: 215px;
  position: relative;
}

@media (max-width: $screen-md-max) {
  .page-content {
    margin-left: 0;
    min-height: calc(100vh - 50px);
  }
}