@import "../../../styles/variables.scss";
$active-day-border: 2px solid rgba(51, 103, 180, 0.5);
ul.days-labels {
  display: flex;
  justify-content: space-around;
  padding-left: 48px;
  li {
    list-style: none;
    text-align: right;
  }
  p {
    margin: 0;
    text-align: right;
    font-size: 14px;
  }
}

.calendar__content--week {
  margin-top: 8px;
}

.calendar__events--week {
  position: relative;
  display: flex;
  width: 95%;
  svg {
    background-color: rgb(249, 250, 254);
    box-sizing: border-box;
    &:nth-child(even) {
      background-color: rgb(253, 253, 255);
    }
    rect {
      width: 96%;
    }
    line {
      height: 2px;
    }
  }
}

li.calendar__selected-weekday {
  color: $main-text-color
}