@import '../../../styles/variables.scss';
.calendar-day {
  padding: 0 3% 0 50px;
  color: $light-text-color;
  /* height: calc(100vh - 63px); */
  background-color: $blocks-bcg-color;
  li {
    list-style: none;
  }
}

.calendar-day {
  .calendar-nav__views-btn {
    background-color: $blocks-bcg-color;
  }
}

.calendar-day__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  .calendar-nav {
    width: 66%;
  }
}

.add-event-btn {
  width: 54px;
  height: 54px;
  background: url('../../../assets/images/plus.svg') $main-text-color center center no-repeat;
  border-radius: 100%;
  box-shadow: inset 1px 1px 6px rgba(255, 255, 255, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background-color: $main-text-color + 30%;
  }
}

.calendar-day__main {
  width: 81%;
  padding-top: 36px;
}

.calendar-day__summary {
  width: 86%;
  height: 20px;
  background-color: #E4EAFA;
  border-radius: 10px;
}

.calendar__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 255px);
  overflow: hidden;
  overflow-y: scroll;
  >div {
    height: 1250px;
  }
}

.calendar__hours-labels {
  font-size: 16px;
  color: $light-text-color;
  li {
    padding-bottom: 31px;
  }
}

.calendar__events {
  width: 91%;
  margin-left: 10px;
  svg {
    width: 100%;
    height: 100%;
    rect {
      width: 100%;
      rx: 10px;
      ry: 10px;
    }
  }
}