@import '../../styles/variables.scss';
.calendar {
  color: $main-text-color;
  position: relative;
}

.calendar-main {
  padding: 40px 30px 30px 50px;
  width: 66%;
  box-sizing: border-box;
  table {
    width: 110%;
    margin-left: -5%;
  }
}

.calendar-main__content {
  margin-top: 40px;
}

.calendar__day-sidebar {
  width: 27%;
  position: absolute;
  top: 63px;
  right: 0;
  .calendar-day__main {
    width: 100%;
    box-sizing: border-box;
  }
  .calendar-day {
    padding: 0 30px 0 6%;
    box-sizing: border-box;
  }
  .calendar__events {
    margin-left: 15px;
  }
  .views-btn-list {
    display: none;
  }
}

.days-labels {
  font-size: 20px;
  font-weight: 500;
  color: $light-text-color;
  th {
    text-align: center;
  }
}